<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="practice_style.css" type="text/css">
</head>

<body>
    <div id="app">

        <!-- TODO change header text to include name of activity -->
        <h1 class="text-center">{{ activity }}! Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Hours</h2>
            <div class="card-body">

                <form>

                    <!-- TODO show error alert with list of errors,
                         if there are errors in the form -->
                         <div class="alert alert-danger" v-show="errors && errors.length > 0">
                             <li v-for="error in errors">{{ error }}  </li>
                         </div>
                    
                    <div class="form-group">
                        <!-- TODO change label message to include name of activity -->
                        <label class="form-label" for="when">When did you do this {{ activity | lowercase }}?</label>
                        <!-- TODO v-model to app data property -->
                        <input id="when" class="form-control" type="date" v-model.lazy="when" >
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="howLong">How long were doing this {{ activity }} in hours?</label>
                        <!-- TODO v-model to app data property -->
                        <input id="howLong" class="form-control" v-model.number.lazy="howLong">
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="subject">What class?</label>
                        <!-- TODO create a select. v-model type -->
                        <!-- TODO create one option for each type  -->
                        <select class="form-control" v-model="subject">
                            <option v-for="subject in subjects" v-bind:value="subject">{{ subject }}</option>
                        </select>
                    </div>

                    <div class="form-check-inline">
                        <!-- TODO v-model, v-bind value -->
                        <input id="v2" class="form-check-input" type="radio" v-bind:value="inClass" v-model="location">
                        <label class="form-check-label" for="v1">{{inClass}}</label>
                    </div>

                    <div class="form-check-inline">
                        <!-- TODO v-model, v-bind value -->
                        <input id="v1" class="form-check-input" type="radio" v-bind:value="outClass" v-model="location">
                        <label class="form-check-label" for="v1">{{outClass}}</label>
                    </div>

                    <div>
                        <!-- TODO v-on or @ click event -->
                        <button class="btn btn-primary mt-2" type="button" @click="submit">Add record</button>
                    </div>

                </form>
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Record</h2>

            <div class="card-body">
                <!-- TODO display the number of records  -->
                <h3> {{ activityRecords.length }} record(s)</h3>

                <div id="records">
                    <table class="table">
                        <tr>
                            <th>When</th>
                            <th>How long?</th>
                            <th>subject</th>
                            <th>Location?</th>
                        </tr>
                        <!-- TODO display one table row for each activityRecord  -->
                        <tr v-for="record in activityRecords">
                            <td>{{ record.when | shortDateFormat }}</td>
                            <td>{{ record.howLong }}</td>
                            <td>{{ record.subject }}</td>
                            <td>{{ record.location }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">
                <!-- TODO use computed property to display total hours -->
                <p>You have spent a total of {{totalHours}} hours, broken down as follows:</p>
                
                <!-- TODO computed property to display total for each type  -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" v-for="hours, subject in totalHoursBySubject">{{ subject }}: {{ hours }}</li>
                </ul>
            </div>
        </div>

    </div>

    <script>

    // creates component fot the aoo div 
    let app = new Vue({
        el: "#app",
        data: 
        {
            activity: 'Assignment',
            when: '',
            howLong: 1,
            subject: 'Web Client and Server Programming',
            location: 'In Class',
            activityRecords: [],
            subjects: ['Web Client and Server Programming','Infotech Project Management','Info Literacy and Research Skills'],
            inClass: 'In Class',
            outClass: 'Out of Class',
            errors: []
        },
        computed: 
        {
            whenLocal() 
            {
                let date = new Date(this.when)
                let timestamp = date.getTime() + (date.getTimezoneOffset() * 60 * 1000)
                let localDate = new Date(timestamp)
                return localDate
            },
            totalHours() {
                let total = 0
                if (this.activityRecords.length > 0){
                    total = this.activityRecords.reduce(function (hoursAccumulator, currentRecord) {
                        return hoursAccumulator + currentRecord.howLong
                    }, 0)
                }
                return total
            },
            totalHoursBySubject() {
                let hoursBySubject = {}
                this.subjects.forEach(subject => {
                    let totalForSubject = this.activityRecords
                        .filter(function (record) { return record.subject === subject})
                        .reduce(function (accumulator, current) {return accumulator + current.howLong }, 0)
                    hoursBySubject[subject] = totalForSubject
                })
                return hoursBySubject
            }
        },
        methods: 
        {

            submit() 
            {
                this.errors = []

                if (this.whenLocal == 'Invalid Date' || this.whenLocal.getTime()> new Date().getTime() ) 
                {
                    this.errors.push('Select a valid date, today or in the past')
                }

                if (typeof (this.howLong) != "number" || this.howLong <= 0) 
                {
                    this.errors.push('The number of hours must be a number greater than zero.')
                }
                if (this.errors.length == 0) 
                {
                    let record = {
                        when: this.whenLocal,
                        howLong: this.howLong,
                        subject: this.subject,
                        location: this.location
                    }
                    this.activityRecords.push(record)
                    this.activityRecords.sort(function (r1, r2) {
                        return r1.when.getTime() - r2.when.getTime()
                    })
                }
            }
        },
        filters: 
        {
            lowercase(text) 
            {
                return text.toLowerCase()
            },
            shortDateFormat(date) {
                return new Intl.DateTimeFormat().format(date)
            }
        }
    })
    </script>

</body>

</html>